img{
    box-shadow: 10px 10px 5px grey;
}

h2{
    text-shadow: 5px 5px 5px  grey;
    color: #d53f3c;
}

h1 {
    box-shadow: 7px 5px 5px rgb(52, 49, 49);
    font-weight: 600;
    text-align: center;
    background-color: #fe9a99;
    color: mistyrose;
    padding: 10px 0px;
    font-family: fantasy;
}

p{
    font-family: fantasy;
    font-size: 20px;
    padding-right: 15%;
    padding-left: 15%;
}
    
#home_btn {
    font-size: 1rem;
  
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    color: var(--clr-neon);
    border: var(--clr-neon) 0.125em solid;
    padding: 0.25em 1em;
    border-radius: 0.25em;


  
    text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor;
  
    box-shadow: inset 0 0 0.5em 0 var(--clr-neon), 0 0 0.5em 0 var(--clr-neon);
  
    position: relative;
  }
  
  #home_btn::before {
    pointer-events: none;
    content: "";
    position: absolute;
    background: var(--clr-neon);
    top: 120%;
    left: 0;
    width: 100%;
    height: 100%;
  
    transform: perspective(1em) rotateX(40deg) scale(1, 0.35);
    filter: blur(1em);
    opacity: 0.7;
  }
  
  #home_btn::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: 0 0 2em 0.5em var(--clr-neon);
    opacity: 0;
    background-color: var(--clr-neon);
    z-index: -1;
    transition: opacity 100ms linear;
  }
  
  #home_btn:hover,
  #home_btn:focus {
    color: var(--clr-bg);
    text-shadow: none;
  }
  
  #home_btn:hover::before,
  #home_btn:focus::before {
    opacity: 1;
  }
  #home_btn:hover::after,
  #home_btn:focus::after {
    opacity: 1;

  }
