body {
    padding:0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

table{
    
    position: relative;
    left: 30%;
    top: 47%;
    transform: translate(-50%, -50%);
    border-collapse: collapse;
    width: 800px;
    height: 200px;
    border: 0px solid #bdc3c7;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2), -1px -1px 8px rgba(0,0,0,0.2);
}

tr{
    transition: all .2s ease-in;
    cursor: pointer;
}

th, td{
    padding:  8px;
    text-align: center;
    border-bottom: 1px solid #ddd;
   
}

#header {
    background-color: #fe9a99;
    color: mistyrose;
}

h1 {
    font-weight: 600;
    text-align: center;
    background-color: #fe9a99;
    color: mistyrose;
    padding: 10px 0px;
    font-family: fantasy;
    box-shadow: 7px 5px 5px rgb(52, 49, 49);
}

tr:hover{
    background-color: (#f5f5f5);
    transform: scale(1.02);
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2), -1px -1px 8px rgba(0, 0, 0, 0.2);
}

@media only screen and (max-width: 768px) {
 table{
     width: 90%;
 }   
    
}

#chart_div{
    position: absolute;
    top: 15%;
    right: 0;
    bottom: 5%;
    left: 62%;

    
}

#home_btn {
    font-size: 1rem;
  
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    color: var(--clr-neon);
    border: var(--clr-neon) 0.125em solid;
    padding: 0.25em 1em;
    border-radius: 0.25em;


  
    text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor;
  
    box-shadow: inset 0 0 0.5em 0 var(--clr-neon), 0 0 0.5em 0 var(--clr-neon);
  
    position: relative;
  }
  
  #home_btn::before {
    pointer-events: none;
    content: "";
    position: absolute;
    background: var(--clr-neon);
    top: 120%;
    left: 0;
    width: 100%;
    height: 100%;
  
    transform: perspective(1em) rotateX(40deg) scale(1, 0.35);
    filter: blur(1em);
    opacity: 0.7;
  }
  
  #home_btn::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: 0 0 2em 0.5em var(--clr-neon);
    opacity: 0;
    background-color: var(--clr-neon);
    z-index: -1;
    transition: opacity 100ms linear;
  }
  
  #home_btn:hover,
  #home_btn:focus {
    color: var(--clr-bg);
    text-shadow: none;
  }
  
  #home_btn:hover::before,
  #home_btn:focus::before {
    opacity: 1;
  }
  #home_btn:hover::after,
  #home_btn:focus::after {
    opacity: 1;

  }


  custom-aspect-ratio {
    --aspect-ratio: 16/9;
    position: relative;
    height: 0;
    padding-bottom: calc(100%/(var(--aspect-ratio)));
  }
  
  .custom-aspect-ratio > * {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }