#home_btn {
    font-size: 1rem;
  
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    color: var(--clr-neon);
    border: var(--clr-neon) 0.125em solid;
    padding: 0.25em 1em;
    border-radius: 0.25em;


  
    text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor;
  
    box-shadow: inset 0 0 0.5em 0 var(--clr-neon), 0 0 0.5em 0 var(--clr-neon);
  
    position: relative;
  }
  
  #home_btn::before {
    pointer-events: none;
    content: "";
    position: absolute;
    background: var(--clr-neon);
    top: 120%;
    left: 0;
    width: 100%;
    height: 100%;
  
    transform: perspective(1em) rotateX(40deg) scale(1, 0.35);
    filter: blur(1em);
    opacity: 0.7;
  }
  
  #home_btn::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: 0 0 2em 0.5em var(--clr-neon);
    opacity: 0;
    background-color: var(--clr-neon);
    z-index: -1;
    transition: opacity 100ms linear;
  }
  
  #home_btn:hover,
  #home_btn:focus {
    color: var(--clr-bg);
    text-shadow: none;
  }
  
  #home_btn:hover::before,
  #home_btn:focus::before {
    opacity: 1;
  }
  #home_btn:hover::after,
  #home_btn:focus::after {
    opacity: 1;

  }

  h1 {
    font-weight: 600;
    text-align: center;
    background-color: #fe9a99;
    color: mistyrose;
    padding: 10px 0px;
    font-family: fantasy;
    
  }

  h2{
    color: #d53f3c;
    
  }  

  .paragraph{
    font-size: 20px;
    font-family: fantasy;
    margin-left: 15px;
  }

  

  .sec1{
  
    padding-bottom: 130px;
    
  }
  .sec2{
    padding-bottom:155px ;
  }
  .sec3{
    padding-bottom:135px ;
  }

  span{
    font-size: 25px;
    font-weight: bold;
  }

  .td{
    font-weight: 600;
    text-align: center;
    background-color: #fe9a99;
    color: mistyrose;
    padding: 10px 0px;
    font-family: fantasy;
    box-shadow: 7px 5px 5px rgb(52, 49, 49);
  }
  
  .sec1:hover{
    background-color: (#f5f5f5);
    transform: scale(1.02);
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2), -1px -1px 8px rgba(0, 0, 0, 0.2);
  }

  .sec2:hover{
    background-color: (#f5f5f5);
    transform: scale(1.02);
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2), -1px -1px 8px rgba(0, 0, 0, 0.2);
  }

  .sec3:hover{
    background-color: (#f5f5f5);
    transform: scale(1.02);
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2), -1px -1px 8px rgba(0, 0, 0, 0.2);
  }

  .sec4:hover{
    background-color: (#f5f5f5);
    transform: scale(1.02);
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2), -1px -1px 8px rgba(0, 0, 0, 0.2);
  }
